/*
  @about Modulr.css
  -----------------------------------------
  @desc: Pure Css Display Module 
  @author: Alan Museljic
  @git: https://www.github/com/uloga/display
  @source: http://www.getmodulr.com/css/display
  ------------------------------------------------
  @uses: modulr/display/*
  @docs: true 
\-------------------------------------------------*/

/* 
  @modifier: show 
  @property: display
  @desc: shows an element
*/

.show,
.hover-show:hover,
.hover-children-show:hover .hide{
  display: block !important;
}
.block{
  display: block;
}

/* 
  @modifier: hide 
  @property: display
  @desc: hides an element
*/

.hide,
.hover-hide:hover,
.hover-children-hide:hover .show{
  display: none !important;
}

/* 
  @modifier: inline
  @property: display
  @desc: display inline
*/

.inline {
  display: inline;
}

/* 
  @modifier: inline-block
  @property: display
  @desc: display inline
*/

.inline-block{
  display: inline-block;
}

/* 
  @modifier: list-item 
  @property: display
  @desc: display list
*/

.list-item{
  display: list-item;
}

/* 
  @modifier: run-in 
  @property: display
  @desc: display run-in
*/

.run-in{
  display: run-in;
}

/* 
  @modifier: flex 
  @property: display
  @desc: display flex
*/

.flex{
  display: flex;
}

/* 
  @modifier: inline-flex 
  @property: display
  @desc: display inline-flex
*/

.inline-flex{
  display: inline-flex;
}

/* 
  @modifier: flex-center
  @property: display
  @desc: display flex-center
*/

.flex-center{
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* 
  @modifier: table 
  @property: display
  @desc: display table
*/

.table{
  display: table;
}

/* 
  @modifier: inline-table 
  @property: display
  @desc: display inline-table
*/

.inline-table{
  display: inline-table;
}

/* 
  @modifier: table-caption 
  @property: display
  @desc: display table-caption
*/

.table-caption{
  display: table-caption;
}

/* 
  @modifier: table-column-group 
  @property: display
  @desc: display table-column-group
*/

.table-column-group{
  display: table-column-group;
}

/* 
  @modifier: table-header-group 
  @property: display
  @desc: display table-header-group
*/

.table-header-group{
  display: table-header-group;
}

/* 
  @modifier: table-footer-group
  @property: display
  @desc: display table-footer-group
*/

.table-footer-group{
  display: table-footer-group;
}

/* 
  @modifier: table-row-group
  @property: display
  @desc: display table-row-group
*/

.table-row-group{
  display: table-row-group;
}

/* 
  @modifier: table-column
  @property: display
  @desc: display table-column
*/

.table-column{
  display: table-column;
}

/* 
  @modifier: table-row
  @property: display
  @desc: display table-row
*/

.table-row{
  display: table-row;
}

/* 
  @modifier: table-cell
  @property: display
  @desc: display table-cell
*/

.table-cell{
  display: table-cell;
}
